/* =====================================================
  variables
======================================================*/
/* ****************************************************************
MIXINS
********************************************************************/
/* ****************************************************************
ANIMATIONS
********************************************************************/
/* ****************************************************************
BOX SIZING
********************************************************************/
/*===============================================
Icons
=================================================*/
ul {
  float: none;
}
ul.bonzer-inputs-all-icons {
  margin-bottom: 0;
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
  position: absolute;
  border: 1px solid #dddddd;
  left: 0;
  top: 35px;
  z-index: 11;
  background: #ffffff;
}
ul.bonzer-inputs-all-icons li {
  width: 10%;
  padding: 2px;
  display: inline-block;
  margin-bottom: 0;
}
ul.bonzer-inputs-all-icons li.icons-search-form {
  width: 100%;
  text-align: center;
}
ul.bonzer-inputs-all-icons li.icons-search-form input {
  outline: none;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  height: 40px;
  max-width: 95% !important;
  width: 500px !important;
  display: inline-block;
  float: none !important;
  margin: 15px 0 25px !important;
  padding: 17px;
}
ul.bonzer-inputs-all-icons li.icons-search-form input:focus {
  border-color: #78909c;
}
ul.bonzer-inputs-all-icons li.icon-types-wrapper {
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
ul.bonzer-inputs-all-icons li.icon-types-wrapper ul {
  padding: 0;
  margin: 0;
}
ul.bonzer-inputs-all-icons li.icon-types-wrapper ul li {
  width: auto;
  float: left;
}
ul.bonzer-inputs-all-icons li.icon-types-wrapper ul li a {
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 11px;
}
ul.bonzer-inputs-all-icons li.icon-types-wrapper ul li a:focus {
  outline: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ul.bonzer-inputs-all-icons li.icon-types-wrapper ul li.active {
  border-color: #ab47bc;
  background: #ba68c8;
}
ul.bonzer-inputs-all-icons li.icon-types-wrapper ul li.active a {
  background: #ba68c8;
  color: #ffffff;
}
ul.bonzer-inputs-all-icons li.icons-wrapper {
  background: #f4f4f4;
  padding: 10px;
  width: 100%;
}
ul.bonzer-inputs-all-icons li.icons-wrapper ul {
  padding: 0;
  margin: 0;
}
ul.bonzer-inputs-all-icons li.icons-wrapper > span {
  width: 100%;
  display: block;
  margin: 0 0 10px;
  background: #546e7a;
  padding: 15px;
  color: #ffffff;
  font-size: 20px;
}
ul.bonzer-inputs-all-icons li.icons-wrapper .arrow {
  position: static;
  margin: 0;
}
ul.bonzer-inputs-all-icons li.icons-wrapper .arrow:after {
  display: none;
}
ul.bonzer-inputs-all-icons li.icons-wrapper ul.icons li {
  width: 5%;
  min-width: 50px;
  height: 50px;
  text-align: center;
}
ul.bonzer-inputs-all-icons li a {
  padding: 0 11px;
  display: block;
  background: #ffffff;
  color: #3949ab;
  text-decoration: none;
  text-shadow: none;
  border: 1px solid #dddddd;
}
ul.bonzer-inputs-all-icons li a i.fa {
  font-size: 14px;
  line-height: 44px;
}
ul.bonzer-inputs-all-icons li a img {
  line-height: 44px;
  padding: 9px 0;
}
/*===============================================
Checkbox
=================================================*/
.input-wrapper {
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
}
.input-wrapper [type="checkbox"]:not(:checked),
.input-wrapper [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.input-wrapper [type="checkbox"]:not(:checked) + label,
.input-wrapper [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.input-wrapper [type="checkbox"]:not(:checked) + label:before,
.input-wrapper [type="checkbox"]:checked + label:before {
  content: '';
  font: normal normal normal 18px/1 FontAwesome;
  position: absolute;
  color: #607d8b;
  line-height: 1;
  top: 5px;
  right: -25px;
  width: 15px;
  height: 15px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.input-wrapper [type="checkbox"]:checked + label:before {
  content: '\f096';
}
.input-wrapper [type="checkbox"]:not(:checked) + label:before {
  content: '\f096';
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-wrapper [type="checkbox"]:not(:checked) + label:after,
.input-wrapper [type="checkbox"]:checked + label:after {
  font: normal normal normal 18px/1 FontAwesome;
  content: "\f14a";
  position: absolute;
  top: 5px;
  right: -25px;
  line-height: 1;
  color: #607d8b;
  display: inline-block;
  width: 15px;
  height: 15px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.input-wrapper [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
.input-wrapper [type="checkbox"]:checked + label:before {
  opacity: 0;
}
.input-wrapper [type="checkbox"]:checked + label:after {
  opacity: 1;
}
.input-wrapper [type="checkbox"]:checked + label:after {
  content: "\f046";
}
.input-wrapper [type="checkbox"]:disabled:not(:checked) + label:before,
.input-wrapper [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.input-wrapper [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.input-wrapper [type="checkbox"]:disabled + label {
  color: #aaa;
}
/*===============================================
Tooltips
=================================================*/
.ui-tooltip,
.arrow:after {
  background: black;
  border: 0 solid white;
}
.ui-tooltip {
  padding: 5px;
  color: white;
  line-height: 1;
  font-size: 12px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: capitalize;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.arrow {
  width: 20px;
  height: 5px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -5px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 7.5px;
  top: -2.5px;
  width: 5px;
  height: 5px;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
.clearfix {
  height: 0;
}
/*===============================================
Inputs
=================================================*/
.input-wrapper {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Arial;
  padding: 2px;
  font-size: 13px;
  background: #ffffff;
  margin: 0 0 15px;
  -o-box-shadow: 0 2px 3px 0 #f4f4f4;
  -ms-box-shadow: 0 2px 3px 0 #f4f4f4;
  -moz-box-shadow: 0 2px 3px 0 #f4f4f4;
  -webkit-box-shadow: 0 2px 3px 0 #f4f4f4;
  box-shadow: 0 2px 3px 0 #f4f4f4;
  border: 1px solid #dddddd;
  position: relative;
  min-height: 34px;
}
.input-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input-wrapper.hidden {
  display: none !important;
}
.input-wrapper h3 {
  margin: 0;
  padding: 10px;
}
.input-wrapper p.desc {
  margin: 0;
  background: #fafafa;
  color: #888888;
  border-top: 1px solid #dddddd;
  clear: both;
  font-size: 11px;
  padding: 2px 5px;
}
.input-wrapper a.close-popup {
  right: 90px !important;
  top: 9px !important;
  color: #f44336 !important;
}
.input-wrapper label {
  width: calc(25% - 2px);
  float: left;
  margin: 0 2px 2px 0;
  font-weight: bold;
  padding: 0 15px;
  left: 0;
  font-size: 13px;
  color: #333333;
  -o-box-shadow: 0 0 0 1px #dddddd inset;
  -ms-box-shadow: 0 0 0 1px #dddddd inset;
  -moz-box-shadow: 0 0 0 1px #dddddd inset;
  -webkit-box-shadow: 0 0 0 1px #dddddd inset;
  box-shadow: 0 0 0 1px #dddddd inset;
  background: #f4f4f4;
  height: 28px;
  line-height: 28px;
}
.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
  width: calc(75% - 41px);
  margin: 0;
  padding: 0 10px;
  border: 1px solid #dddddd;
  min-height: 28px;
  display: block;
  float: left;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-wrapper input:focus,
.input-wrapper select:focus,
.input-wrapper textarea:focus {
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-wrapper select {
  width: 75%;
  float: none;
  padding: 0 5px;
  margin: 0 0 0 0;
  display: inline-block;
}
.input-wrapper > .button {
  cursor: pointer;
  margin-left: 0;
  background: #f4f4f4;
  border: 0 solid #dddddd;
  width: 40px;
  position: absolute;
  right: 1px;
  top: 0px;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  line-height: 32px;
  height: 32px;
  border-left-width: 1px;
  background: #ffffff;
}
.input-wrapper > .button span.text {
  display: none;
}
.input-wrapper > .button i {
  font-size: 15px;
}
.input-wrapper > .button.remove i {
  color: #e57373;
}
.input-wrapper > .button.add i {
  color: #4caf50;
}
.input-wrapper > .button:focus {
  outline: none;
}
.input-wrapper.additional-options select {
  width: calc(75% - 60px);
}
.input-wrapper.additional-options .add-option,
.input-wrapper.additional-options .remove-options {
  width: 28px;
  height: 28px;
  border: 1px solid #4caf50;
  margin: 0 0 0 2px;
  display: block;
  line-height: 24px;
  text-align: center;
  background: #81c784;
  float: left;
  cursor: pointer;
}
.input-wrapper.additional-options .add-option i,
.input-wrapper.additional-options .remove-options i {
  color: #ffffff;
}
.input-wrapper.additional-options .remove-options {
  background: #ff8a65;
  border-color: #ff5722;
}
.input-wrapper.additional-options .response {
  position: absolute;
  right: 72px;
  top: 0;
  height: 25px;
  line-height: 26px;
  background: #ffffff;
  top: 3px;
  display: none;
  padding: 0 5px;
}
.input-wrapper .chosen-container-multi {
  width: 75% !important;
}
.input-wrapper .chosen-container-multi .chosen-choices {
  border: 1px solid #dddddd;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.input-wrapper .chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: 24px;
  min-height: 24px;
}
.input-wrapper .chosen-container-multi .chosen-choices li.search-choice {
  background: #607d8b;
  color: #ffffff;
  border: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-wrapper .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: transparent;
}
.input-wrapper .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
  content: "\f00d";
  font: normal normal normal 12px/1 FontAwesome;
  color: #ffffff;
}
.input-wrapper.checkbox-input-wapper label {
  height: 28px;
  float: left;
}
.input-wrapper.multi-select-input-wapper .remove {
  display: none;
}
.input-wrapper.multi-text-input-wapper ul.values-entered {
  padding: 10px 0;
  margin: 0;
  position: relative;
  float: left;
  padding-left: 50px;
  min-height: 100px;
  width: 100%;
  display: none;
}
.input-wrapper.multi-text-input-wapper ul.values-entered.has-values {
  display: block;
  background: #f4f4f4;
  margin: 3px -2px 15px;
  width: calc(100% + 4px);
  border: 1px dashed #dddddd;
}
.input-wrapper.multi-text-input-wapper ul.values-entered li {
  list-style: none;
  margin: 5px 2px;
  line-height: 1;
  max-height: 21px;
  float: left;
}
.input-wrapper.multi-text-input-wapper ul.values-entered li.sortable-placeholder {
  background: yellow;
  min-width: 150px;
  height: 21px;
}
.input-wrapper.multi-text-input-wapper ul.values-entered li p {
  padding: 1px 53px 1px 28px;
  background: #546e7a;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  color: #ffffff;
  height: 21px;
  position: relative;
  margin: 0;
  line-height: 19px;
}
.input-wrapper.multi-text-input-wapper ul.values-entered li p i {
  cursor: pointer;
  color: #ffffff;
  margin-right: 3px;
}
.input-wrapper.multi-text-input-wapper ul.values-entered li p i.move-item,
.input-wrapper.multi-text-input-wapper ul.values-entered li p i.item-index,
.input-wrapper.multi-text-input-wapper ul.values-entered li p i.remove-item {
  background: #78909c;
  padding: 0;
  position: absolute;
  -ms-border-radius: 0 21px 21px 0;
  -o-border-radius: 0 21px 21px 0;
  -webkit-border-radius: 0 21px 21px 0;
  -moz-border-radius: 0 21px 21px 0;
  border-radius: 0 21px 21px 0;
  right: 0px;
  top: 0px;
  width: 21px;
  line-height: 21px;
  cursor: move;
  text-align: center;
  margin: 0;
}
.input-wrapper.multi-text-input-wapper ul.values-entered li p i.item-index {
  right: auto;
  left: 0px;
  font-style: normal;
  -ms-border-radius: 21px 0 0 21px;
  -o-border-radius: 21px 0 0 21px;
  -webkit-border-radius: 21px 0 0 21px;
  -moz-border-radius: 21px 0 0 21px;
  border-radius: 21px 0 0 21px;
}
.input-wrapper.multi-text-input-wapper ul.values-entered li p i.remove-item {
  right: 22px;
  cursor: pointer;
  -ms-border-radius: 21px 0 0 21px;
  -o-border-radius: 21px 0 0 21px;
  -webkit-border-radius: 21px 0 0 21px;
  -moz-border-radius: 21px 0 0 21px;
  border-radius: 21px 0 0 21px;
}
.input-wrapper input.radio-input,
.input-wrapper input.checkbox-input {
  width: auto;
  float: none;
  display: none !important;
}
.input-wrapper input.radio-input {
  width: 0;
  height: 0;
  min-height: 0;
  max-width: 0;
  margin: 0 !important;
  min-width: 0;
  display: inline-block !important;
  opacity: 0;
  position: absolute;
}
.input-wrapper input.checkbox-input {
  display: inline-block !important;
  margin: 5px 15px 7px;
  min-height: 15px;
}
.input-wrapper .options {
  width: 73%;
  margin-left: 5px;
  display: block;
}
.input-wrapper .options label {
  background: #ffffff !important;
  color: #607d8b !important;
  border: 1px solid #cbd4d9;
  padding: 0 10px;
  margin: 0 0 !important;
  min-width: 100px;
  float: none;
  display: inline-block;
  width: auto;
  cursor: pointer;
}
.input-wrapper .options input {
  display: none;
}
.input-wrapper .options input:checked + label {
  border: 1px solid #607d8b !important;
  background: #607d8b !important;
  -o-box-shadow: 0 0 0 1px #eceff1 inset;
  -ms-box-shadow: 0 0 0 1px #eceff1 inset;
  -moz-box-shadow: 0 0 0 1px #eceff1 inset;
  -webkit-box-shadow: 0 0 0 1px #eceff1 inset;
  box-shadow: 0 0 0 1px #eceff1 inset;
  color: #ffffff !important;
}
.input-wrapper.color-input-wapper input {
  display: block !important;
  width: calc(75% - 83px);
  margin: 0 2px 0 0;
}
.input-wrapper.color-input-wapper .sp-replacer {
  width: 40px;
  float: left;
  height: 28px;
  margin: 0 2px 0 0;
  border: none;
  -o-box-shadow: 0 0 0 1px #dddddd inset;
  -ms-box-shadow: 0 0 0 1px #dddddd inset;
  -moz-box-shadow: 0 0 0 1px #dddddd inset;
  -webkit-box-shadow: 0 0 0 1px #dddddd inset;
  box-shadow: 0 0 0 1px #dddddd inset;
  background: #ffffff;
}
.input-wrapper.color-input-wapper .sp-replacer .sp-preview {
  height: 18px;
  border: 1px solid #ffffff;
  width: 20px;
  margin: 0;
  float: left;
}
.input-wrapper.color-input-wapper .sp-replacer .sp-dd {
  width: 12px;
  text-align: right;
}
.input-wrapper.textarea-input-wapper {
  min-height: 69px;
}
.input-wrapper.textarea-input-wapper label {
  min-height: 63px;
  padding: 0 15px;
  line-height: 63px;
}
.input-wrapper.textarea-input-wapper textarea {
  font-family: "Open Sans", Arial;
  padding: 5px 10px;
  font-size: 13px;
  min-height: 63px;
}
.input-wrapper.textarea-input-wapper button {
  padding: 17px 5px;
  min-height: 67px;
  top: 0;
  right: 2px;
}
.input-wrapper.heading-input-wapper {
  background: #f4f4f4;
}
.input-wrapper.icon-input-wapper .input {
  width: calc(75% - 73px) !important;
  margin-right: 2px;
}
.input-wrapper.icon-input-wapper .icon-holder {
  width: 30px;
  margin-right: 2px;
  float: left;
  text-align: center;
  line-height: 25px;
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #3949ab;
  height: 28px;
  padding: 7px 0;
}
.input-wrapper.icon-input-wapper .icon-holder img {
  max-height: 18px;
  width: auto;
}
.input-wrapper.icon-input-wapper .icon-holder i {
  position: static;
  margin: 0;
}
.input-wrapper.icon-input-wapper .icon-holder i.arrow:after {
  display: none;
}
.input-wrapper.icon-input-wapper.heading-input-wapper {
  padding: 0;
}
.input-wrapper.style-1 p.desc {
  margin: 0 -2px;
}
.input-wrapper.style-1.checkbox-input-wapper > label {
  padding-left: 15px;
}
.input-wrapper.style-2,
.input-wrapper.style-3 {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  padding: 2px 10px 10px;
  box-shadow: none;
  border-bottom: 2px solid #dddddd;
  background: #f4f4f4;
}
.input-wrapper.style-2 > label,
.input-wrapper.style-3 > label {
  padding: 0;
  background: #f4f4f4;
  border-width: 0;
  width: 100%;
  margin: 0;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-wrapper.style-2 input,
.input-wrapper.style-3 input,
.input-wrapper.style-2 select,
.input-wrapper.style-3 select,
.input-wrapper.style-2 textarea,
.input-wrapper.style-3 textarea {
  width: 100%;
}
.input-wrapper.style-2 select,
.input-wrapper.style-3 select {
  width: 100% !important;
}
.input-wrapper.style-2 > .button,
.input-wrapper.style-3 > .button {
  top: 30px;
  right: 10px;
  position: absolute;
  height: 28px;
  line-height: 27px;
  border: 1px solid #dddddd;
}
.input-wrapper.style-2 p.desc,
.input-wrapper.style-3 p.desc {
  padding: 4px 6px 6px;
  background: #e8e8e8;
  color: #666666;
  line-height: 1;
  position: relative;
  top: 1px;
}
.input-wrapper.style-2.textarea-input-wapper label,
.input-wrapper.style-3.textarea-input-wapper label {
  min-height: 16px;
  line-height: 28px;
}
.input-wrapper.style-2.textarea-input-wapper > button,
.input-wrapper.style-3.textarea-input-wapper > button {
  min-height: 63px;
}
.input-wrapper.style-2.icon-input-wapper .input,
.input-wrapper.style-3.icon-input-wapper .input {
  width: calc(100% - 74px) !important;
}
.input-wrapper.style-2.icon-input-wapper ul.bonzer-inputs-all-icons,
.input-wrapper.style-3.icon-input-wapper ul.bonzer-inputs-all-icons {
  top: 100%;
}
.input-wrapper.style-2.icon-input-wapper a.close-popup,
.input-wrapper.style-3.icon-input-wapper a.close-popup {
  right: 95px !important;
  top: auto !important;
  bottom: 18px;
}
.input-wrapper.style-2 .chosen-container-multi,
.input-wrapper.style-3 .chosen-container-multi {
  width: 100% !important;
  background: #ffffff;
}
.input-wrapper.style-2.color-input-wapper input,
.input-wrapper.style-3.color-input-wapper input {
  width: calc(100% - 84px);
}
.input-wrapper.style-2.checkbox-input-wapper,
.input-wrapper.style-3.checkbox-input-wapper {
  padding: 2px 10px;
}
.input-wrapper.style-2.checkbox-input-wapper label,
.input-wrapper.style-3.checkbox-input-wapper label {
  width: 100%;
  padding-left: 25px;
}
.input-wrapper.style-2.checkbox-input-wapper label:before,
.input-wrapper.style-3.checkbox-input-wapper label:before,
.input-wrapper.style-2.checkbox-input-wapper label:after,
.input-wrapper.style-3.checkbox-input-wapper label:after {
  left: 0;
  top: 6px;
}
.input-wrapper.style-2.radio-input-wapper .options,
.input-wrapper.style-3.radio-input-wapper .options {
  width: 100%;
  margin-left: 0;
}
.input-wrapper.style-2.radio-input-wapper .options label,
.input-wrapper.style-3.radio-input-wapper .options label {
  width: auto;
}
.input-wrapper.style-2.heading-input-wapper,
.input-wrapper.style-3.heading-input-wapper {
  padding: 0;
}
.input-wrapper.style-2.checkbox-input-wapper {
  padding-bottom: 0;
}
.input-wrapper.style-2.checkbox-input-wapper p.desc {
  margin: 0 -10px;
}
.input-wrapper.style-3 {
  background: #ffffff;
  margin-top: 25px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  -o-box-shadow: 0 2px 1px #efefef;
  -ms-box-shadow: 0 2px 1px #efefef;
  -moz-box-shadow: 0 2px 1px #efefef;
  -webkit-box-shadow: 0 2px 1px #efefef;
  box-shadow: 0 2px 1px #efefef;
  padding: 15px 10px 10px;
}
.input-wrapper.style-3 > .button {
  top: 15px;
}
.input-wrapper.style-3 > .button.remove {
  border-color: #f1b4b4;
  background: #ffffff;
  color: #d32f2f;
}
.input-wrapper.style-3 > .button.add {
  border-color: #b6dfb8;
  background: #fafdfa;
  color: #388e3c;
}
.input-wrapper.style-3 > label {
  position: absolute;
  width: auto;
  top: -9px;
  left: 8px;
  line-height: 1;
  height: auto;
  background: #ffffff;
  padding: 3px 8px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.input-wrapper.style-3 p.desc {
  border-width: 0;
  margin: 0;
  padding: 3px 6px 6px;
  background: #f4f4f4;
  color: #777777;
  line-height: 1;
}
.input-wrapper.style-3 input,
.input-wrapper.style-3 select,
.input-wrapper.style-3 textarea,
.input-wrapper.style-3 .chosen-container-multi {
  border-width: 0 0 1px 0;
  padding: 0;
  line-height: 26px;
}
.input-wrapper.style-3 input:focus,
.input-wrapper.style-3 select:focus,
.input-wrapper.style-3 textarea:focus,
.input-wrapper.style-3 .chosen-container-multi:focus {
  outline: none;
  border-bottom-color: #455a64;
}
.input-wrapper.style-3 .chosen-container-multi .chosen-choices {
  padding-left: 0;
  border-width: 0 0 1px 0;
}
.input-wrapper.style-3.heading-input-wapper {
  padding: 0 0 1px;
}
.input-wrapper.style-3.heading-input-wapper p.desc {
  padding: 6px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #dddddd;
}
.input-wrapper.style-3.textarea-input-wapper label {
  line-height: 1;
}
.input-wrapper.style-3.icon-input-wapper .icon-holder {
  padding: 3px;
  border-width: 0 0 1px;
}
.input-wrapper.style-3.icon-input-wapper .icon-holder i {
  font-size: 22px;
}
.input-wrapper.style-3.icon-input-wapper .icon-holder img {
  max-height: 23px;
}
.input-wrapper.style-3.checkbox-input-wapper {
  min-height: 38px;
}
.input-wrapper.style-3.checkbox-input-wapper label {
  position: absolute;
  width: auto;
  padding-left: 5px;
}
.input-wrapper.style-3.checkbox-input-wapper label:before,
.input-wrapper.style-3.checkbox-input-wapper label:after {
  left: 4px;
  top: 18px;
}
.input-wrapper.style-3.checkbox-input-wapper p.desc {
  line-height: 1;
  margin: 34px -10px 0;
  position: relative;
  top: 2px;
  -ms-border-radius: 0 0 5px;
  -o-border-radius: 0 0 5px;
  -webkit-border-radius: 0 0 5px;
  -moz-border-radius: 0 0 5px;
  border-radius: 0 0 5px;
}
@media (max-width: 767px) {
  .input-wrapper.checkbox-input-wapper label {
    display: inline-block;
    width: calc(100% - 35px);
  }
  .input-wrapper .options {
    float: left;
    width: calc(60% - 2px);
    margin: 0;
  }
  .input-wrapper > label {
    width: 40%;
  }
  .input-wrapper input,
  .input-wrapper textarea {
    width: calc(60% - 43px);
  }
  .input-wrapper select,
  .input-wrapper .chosen-container {
    width: calc(60% - 2px) !important;
  }
  .input-wrapper.color-input-wapper input {
    width: calc(60% - 85px);
  }
  .input-wrapper.icon-input-wapper .input {
    width: calc(60% - 75px) !important;
  }
}
