@import (less) "variables.less";
@import (less) "mixins.less";
/*===============================================
Icons
=================================================*/
ul{
  float:none;
  &.bonzer-inputs-all-icons{
    .box-shadow(0 0 20px 2px rgba(0,0,0,0.15));
    .roundedcorners(15px);
    background:@white;
    border: 1px solid @light-border;
    margin-bottom: 0;
    width: 100%;
    display: none;
    padding: 15px;
    margin: 0;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 11;

    li{
      width: 10%;
      padding:2px;
      display: inline-block;
      margin-bottom:0;

      &.icons-search-form{
        width: 100%;
        text-align: center;

        input{
          outline: none;
          .roundedcorners(40px);
          border: 1px solid @light-border;
          height: 40px;
          padding: 0 15px !important;
          border-width: 1px !important;
          max-width: 95% !important;
          width: 500px !important;
          display: inline-block;
          float: none !important;
          margin: 15px 0 25px !important;
          padding: 17px;
          &:focus{
            background: @white;
            .box-shadow(none);
            border-color: @light-border;
          }
        }
      }
      &.icon-types-wrapper{
        width:100%;
        background: @white;
        padding: 0;
        ul{
          padding: 0;
          margin: 0;            
          li{
            width: auto;
            margin-right: 10px;
            float:left;

            a {
              .box-shadow(none);
              padding:10px 11px;

              &:focus{
                outline: none;
                .box-shadow(none);
              }
            }

            &.active{
              background: @grey-300;
              a{
                background: @grey-300;
                color: @white;
              }
            }
          }
        }
      }
      &.icons-wrapper{
        background: @light-gray-color;
        padding: 30px;
        width:100%;
        ul{
          padding: 0;
          margin: 0; 
        }
        >span {
          width: 100%;
          display: block;
          margin: 0 0 10px;
          background: @slate-600;
          padding: 15px;
          color: @white;
          font-size: 20px;
          display: none;
        }
        .arrow{
          position: static;
          margin: 0;
          &:after{
            display: none;
          }
        }
        ul.icons{
          li{
            width: 5%;
            min-width: 50px;
            height: 50px;
            text-align: center;
          }
        }
      }
      a {
        padding:0 11px;
        display: block;
        background: @white;
        color: @indigo-600;
        text-decoration: none;
        text-shadow: none;
        i.fa, i.arrow {
          font-size: 14px;
          line-height: 44px;
        }
        img{
          line-height: 44px;
          padding: 9px 0;
        }
      }
    }

  }
}